h1 {
    text-align: center;
}

p {
    font-family: helvetica;
    margin: 0 auto;
    width: 80%;
}

img {
    width: 30%;
}

.container {
  margin: 0 auto;
}

.container2 {
  width: 960px;
  margin: 0 auto;
}
body {
    background: url("paisley.png");
}